<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if isProd() == "true" %}
      {# Sentry #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/raven.js/3.25.2/raven.min.js" integrity="sha256-J7gOlA8MDnRhSTWtoQkf9MCKFZwQxNxNV28+1WyJFsA=" crossorigin="anonymous"></script>

      <script>
        Raven.config('https://fd3c65ae8bde436ca0b32183a6099b44@sentry.io/1209758').install();
      </script>
      {# Settings #}
      <script>
        const suffix = ".kouluruoka.eliasojala.me";
        const siteId = document.domain.replace(suffix, "");
      </script>

      {% if useGAnalytics() == "true" %}
        {# Google Analytics #}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ getenv("GOOGLE_ANALYTICS_UA") }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ getenv("GOOGLE_ANALYTICS_UA") }}');
        </script>
      {% else %}
        {# Matomo #}
        <script>
          var _paq = _paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(["setDocumentTitle", siteId + ": " + document.title]);
          _paq.push(["setCookieDomain", "*" + suffix]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//analytics.theel0ja.info/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '6']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
      {% endif %}
    {% endif %}

    {# Settings etc #}
    <meta name="twitter:widgets:csp" content="on">
    <meta name="format-detection" content="telephone=no">
    {# Privacy #}
    <meta name="twitter:dnt" content="on">

    {% if isProd() == "true" %}
      {# DNS Prefetch #}
      <link rel="dns-prefetch" href="{{ getStaticUrl() }}">
    {% endif %}


    {# SEO #}
    {% if title %}
      <title>{{ title|e }}</title>
      <meta property="og:title" content="{{ title|e }}" />
    {% else %}
      <title>{{ getenv("APP_NAME") }}</title>
      <meta property="og:title" content="{{ getenv("APP_NAME") }}" />
    {% endif %}

    {# Description #}
    {% if description %}
      <meta name="description" content="{{ description|e }}">
      <meta property="og:description" content="{{ description|e }}">
    {% endif %}

    {# Robots #}
    {% if robots %}
    <meta name="robots" content="{{ robots|e }}">
    {% endif %}

    {# Open Graph #}
    <meta property="og:site_name" content="{{ getenv("APP_NAME") }}" />
    <meta property="og:type" content="website" />
    
    {# Image #}
    {% if image %}
      <meta property="og:image" content="{{ image|e }}" />
    {% else %}
      <meta property="og:image" content="/android-chrome-512x512.png" />
    {% endif %}

    {# Canonical URL #}
    {# <link rel="canonical" href="canonicalUrl" />
    <meta property="og:url" content="canonicalUrl" /> #}

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Viikon kouluruoka">
    <meta name="application-name" content="Viikon kouluruoka">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {# CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />

    {# Other CSS #}
    {% block stylesheets %}{% endblock %}

    {# Settings #}
    <script>
      const API_BACKEND = "{{ getenv("API_BACKEND") }}";
      const APP_NAME = "{{ getenv("APP_NAME") }}";
    </script>
  </head>

  <body>

    {# Navbar #}
    {% include 'components/navbar.twig' %}

    {# Notifications #}
    <!--[if IE]>
      <div class="alert alert-danger">
        You are using an <strong>outdated</strong> browser.
        Please <a href="https://www.mozilla.org/en-US/firefox/" class="alert-link">upgrade your browser</a>
        to improve your experience and security.
      </div>
    <![endif]-->
    <noscript>
      <div class="alert alert-warning">
        <h4 class="alert-heading">Please enable JavaScript</h4>
        <p class="mb-0">
          Please <a href="https://www.enable-javascript.com/" class="alert-link">enable JavaScript</a> to improve your experience on this website.
        </p>
      </div>
    </noscript>

    {# Body #}
    <main class="container">
      {% block body %}{% endblock %}
    </main>

    {# Just a dirty hack #}

    {# Footer #}
    <footer class="container" style="padding-bottom: 1rem;">
      <hr>
      Made by <a href="https://www.eliasojala.me/">Elias Ojala</a>
    </footer>
    
    {# Bootstrap JS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.theel0ja.info/libs/bsmenu-4/bsmenu.js"></script>

    {# Other JavaScript #}
    {% block javascripts %}{% endblock %}
  </body>

</html>
