<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% if isProd() == "true" %}
      {# Sentry #}
      <script src="/assets/libs/raven-js/raven.min.js"></script>

      <script nonce="{{ getScriptNonce() }}">
        Raven.config('https://fd3c65ae8bde436ca0b32183a6099b44@sentry.io/1209758').install();
      </script>
      
      {# Matomo #}
      <script nonce="{{ getScriptNonce() }}">
        /* Settings */
        const suffix = ".kouluruoka.eliasojala.me";
        const siteId = document.domain.replace(suffix, "");

        /* Matomo script starts */
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDocumentTitle", siteId + ": " + document.title]);
        _paq.push(["setCookieDomain", "*" + suffix]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//www0.theel0ja.info/_a/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '4']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://www1.theel0ja.info/a.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
    {% endif %}

    {# Settings etc #}
    <meta name="format-detection" content="telephone=no">

    {# SEO #}
    {% if title %}
      <title>{{ title|e }}</title>
      <meta property="og:title" content="{{ title|e }}" />
    {% endif %}

    {# Robots #}
    {% if robots %}
      <meta name="robots" content="{{ robots|e }}">
    {% endif %}

    {# Canonical URL #}
    {# <link rel="canonical" href="canonicalUrl" />
    <meta property="og:url" content="canonicalUrl" /> #}

    {# Other CSS #}
    {% block stylesheets %}{% endblock %}

    {# Header JS #}
    <script nonce="{{ getScriptNonce() }}">
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/serviceWorker.js", {scope: "/"});
      }
    </script>

    {# /assets/client = client-dist folder #}
    <link rel="stylesheet" href="/assets/client/bundle.css">
    <script src="/assets/client/bundle.js"></script>


    {# Settings #}
    {# <script nonce="{{ getScriptNonce() }}">
      const API_BACKEND = "{{ getenv("API_BACKEND") }}";
      const APP_NAME = "{{ getenv("APP_NAME") }}";
    </script> #}
  </head>

  <body>
    {# Body #}
    <main class="container-fluid">
      {% block body %}{% endblock %}
    </main>
    
    {# bsmenu #}
    <script nonce="{{ getScriptNonce() }}">
      // https://github.com/theel0ja/bsmenu-4/blob/da4a9dd618e834ca9299e96248fffa4e8422c761/bsmenu.js
      $(document).ready(function () {
        var url = window.location;
        $('nav.navbar ul a[href="'+ url +'"]').parent().addClass('active');
        $('nav.navbar ul a').filter(function() {
          return this.href == url;
        }).parent().addClass('active');
      });
    </script>

    {# Other JavaScript #}
    {% block javascripts %}{% endblock %}
  </body>

</html>
