<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if isProd() == "true" %}
      {# Sentry #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/raven.js/3.25.2/raven.min.js" integrity="sha256-J7gOlA8MDnRhSTWtoQkf9MCKFZwQxNxNV28+1WyJFsA=" crossorigin="anonymous"></script>

      <script nonce="{{ getScriptNonce() }}">
        Raven.config('https://fd3c65ae8bde436ca0b32183a6099b44@sentry.io/1209758').install();
      </script>

      {% if useGAnalytics() == "true" %}
        {# Google Analytics #}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ getenv("GOOGLE_ANALYTICS_UA") }}"></script>
        <script nonce="{{ getScriptNonce() }}">
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ getenv("GOOGLE_ANALYTICS_UA") }}');
        </script>
      {% else %}
        {# Matomo #}
        <script nonce="{{ getScriptNonce() }}">
          /* Settings */
          const suffix = ".kouluruoka.eliasojala.me";
          const siteId = document.domain.replace(suffix, "");

          /* Matomo script starts */
          var _paq = _paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(["setDocumentTitle", siteId + ": " + document.title]);
          _paq.push(["setCookieDomain", "*" + suffix]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//analytics.theel0ja.info/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '6']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
      {% endif %}
    {% endif %}

    {# Settings etc #}
    <meta name="format-detection" content="telephone=no">

    {# SEO #}
    {% if title %}
      <title>{{ title|e }}</title>
      <meta property="og:title" content="{{ title|e }}" />
    {% else %}
      <title>{{ getenv("APP_NAME") }}</title>
      <meta property="og:title" content="{{ getenv("APP_NAME") }}" />
    {% endif %}

    {# Robots #}
    {% if robots %}
    <meta name="robots" content="{{ robots|e }}">
    {% endif %}

    {# Canonical URL #}
    {# <link rel="canonical" href="canonicalUrl" />
    <meta property="og:url" content="canonicalUrl" /> #}

    {# CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />

    {# Other CSS #}
    {% block stylesheets %}{% endblock %}

    {# Header JS #}
    {# <script src="{{ getStaticUrl() }}/js/app.js?v={{ getAssetVersion() }}"></script> #}
    <script nonce="{{ getScriptNonce() }}">
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/serviceWorker.js", {scope: "/"});
      }
    </script>


    {# Settings #}
    {# <script nonce="{{ getScriptNonce() }}">
      const API_BACKEND = "{{ getenv("API_BACKEND") }}";
      const APP_NAME = "{{ getenv("APP_NAME") }}";
    </script> #}
  </head>

  <body>
    {# Body #}
    <main class="container">
      {% block body %}{% endblock %}
    </main>
    
    {# Bootstrap JS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.theel0ja.info/libs/bsmenu-4/bsmenu.js?v={{ getAssetVersion() }}"></script>

    {# Other JavaScript #}
    {% block javascripts %}{% endblock %}
  </body>

</html>
