<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if isProd() == "true" %}
      {# Sentry #}
      <script src="/assets/libs/raven-js/raven.min.js"></script>
      
      <script nonce="{{ getScriptNonce() }}">
        Raven.config('https://fd3c65ae8bde436ca0b32183a6099b44@sentry.io/1209758').install();
      </script>
    {% endif %}

    {# Settings etc #}
    <meta name="twitter:widgets:csp" content="on">
    <meta name="format-detection" content="telephone=no">
    {# Privacy #}
    <meta name="twitter:dnt" content="on">

    {# SEO #}
    {% if title %}
      <title>{{ title|e }}</title>
      <meta property="og:title" content="{{ title|e }}" />
    {% else %}
      <title>{{ getenv("APP_NAME") }}</title>
      <meta property="og:title" content="{{ getenv("APP_NAME") }}" />
    {% endif %}

    {# Open Graph #}
    <meta property="og:site_name" content="{{ getenv("APP_NAME") }}" />
    <meta property="og:type" content="website" />



    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Viikon kouluruoka">
    <meta name="application-name" content="Viikon kouluruoka">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {# CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />
 
    {# Other CSS #}
    {% block stylesheets %}{% endblock %}

    {# Header JS #}
    {# <script src="{{ getStaticUrl() }}/js/app.js?v={{ getAssetVersion() }}"></script> #}
    <script nonce="{{ getScriptNonce() }}">
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/serviceWorker.js", {scope: "/"});
      }
    </script>


    {# Settings #}
    {# <script nonce="{{ getScriptNonce() }}">
      const API_BACKEND = "{{ getenv("API_BACKEND") }}";
      const APP_NAME = "{{ getenv("APP_NAME") }}";
    </script> #}
  </head>

  <body>

    {# Navbar #}
    {% include 'components/navbar.twig' %}

    {# Notifications #}
    <!--[if IE]>
      <div class="alert alert-danger">
        You are using an <strong>outdated</strong> browser.
        Please <a href="https://www.mozilla.org/en-US/firefox/" class="alert-link">upgrade your browser</a>
        to improve your experience and security.
      </div>
    <![endif]-->
    {# 
    <noscript>
      <div class="alert alert-warning">
        <h4 class="alert-heading">Please enable JavaScript</h4>
        <p class="mb-0">
          Please <a href="https://www.enable-javascript.com/" class="alert-link">enable JavaScript</a> to improve your experience on this website.
        </p>
      </div>
    </noscript> #}

    {# Body #}
    <main class="container">
      {% block body %}{% endblock %}
    </main>

    {# Footer #}
    {# <footer class="container" style="padding-bottom: 1rem;">
      <hr>
      Made by <a href="https://www.eliasojala.me/">Elias Ojala</a>
    </footer> #}
    
    {# Bootstrap JS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>

    <script nonce="{{ getScriptNonce() }}">
      /* https://github.com/theel0ja/bsmenu-4 */
      $(document).ready(function () {
        var url = window.location;
        $('nav.navbar ul a[href="'+ url +'"]').parent().addClass('active');
        $('nav.navbar ul a').filter(function() {
          return this.href == url;
        }).parent().addClass('active');
      });
    </script>

    {# Other JavaScript #}
    {% block javascripts %}{% endblock %}
  </body>

</html>
