<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if isProd() == "true" %}
      {# Sentry #}
      <script src="/assets/libs/raven-js/raven.min.js"></script>
      
      <script nonce="{{ getScriptNonce() }}">
        Raven.config('https://fd3c65ae8bde436ca0b32183a6099b44@sentry.io/1209758').install();
      </script>

      <!--
      {# Matomo #}
      {% include 'components/matomo.twig' %}
      -->
    {% endif %}

    {% include 'components/layouts-general.twig' %}

    {# SEO #}
    {% if title %}
      <title>{{ title|e }}</title>
      <meta property="og:title" content="{{ title|e }}" />
    {% else %}
      <title>{{ getenv("APP_NAME") }}</title>
      <meta property="og:title" content="{{ getenv("APP_NAME") }}" />
    {% endif %}

    {# Open Graph #}
    <meta property="og:site_name" content="{{ getenv("APP_NAME") }}" />
    <meta property="og:type" content="website" />




    {# Other CSS #}
    {% block stylesheets %}{% endblock %}
  </head>

  <body>

    {# Navbar #}
    {% include 'components/navbar.twig' %}

    {# Notifications #}
    <!--[if IE]>
      <div class="alert alert-danger">
        You are using an <strong>outdated</strong> browser.
        Please <a href="https://www.mozilla.org/en-US/firefox/" class="alert-link">upgrade your browser</a>
        to improve your experience and security.
      </div>
    <![endif]-->
    <noscript>
      <div class="alert alert-warning">
        <h4 class="alert-heading">Please enable JavaScript</h4>
        <p class="mb-0">
          Please <a href="https://www.enable-javascript.com/" class="alert-link">enable JavaScript</a> to improve your experience on this website.
        </p>
      </div>
    </noscript>

    {# Body #}
    <main class="container">
      {% block body %}{% endblock %}
    </main>

    {# Footer #}
    {# <footer class="container" style="padding-bottom: 1rem;">
      <hr>
      Made by <a href="https://www.eliasojala.me/">Elias Ojala</a>
    </footer> #}
    
    {# bsmenu #}
    {% include "components/bsmenu.twig" %}

    {# Other JavaScript #}
    {% block javascripts %}{% endblock %}
  </body>

</html>
