{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>{{ title|e }}</h1>
  <p>List of restaurants.</p>

  {% for category in categories %}
    <h3 id="h3-category-{{ category.id }}">
      <a name="category-{{ category.id }}"></a>
      {{category.name}}
    </h3>
    <ul id="ul-category-{{ category.id }}">
      {% for restaurant in restaurants if restaurant.category == category.id %}
        <li><a href="/restaurants/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
      {% else %}
        {# TODO: Make better solution! #}
        <noscript>
          <li>Nothing in this category.</li>
        </noscript>
        
        <script>
          document.getElementById("h3-category-{{ category.id }}").outerHTML = "";
          document.getElementById("ul-category-{{ category.id }}").outerHTML = "";
        </script>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

{% block javascripts %}
  <script>
    const restaurantsData = {{ restaurantsJson }};
    const categoriesData = {{ categoriesJson }};
  </script>
{% endblock %}