{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>{{ restaurant.name }}</h1>

  <div id="menuContainer">
    <ul class="nav nav-tabs" id="menuTabList">
      {# <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
      </li> #}
    </ul>
  </div>

  <h3>Raw data</h3>
  <ul>
    {% for key, value in restaurant if key != "menus" %}
      <li><b>{{ key }}</b>: {{ value }}</li>
    {% endfor %}
    <li><b>Category name</b>: {{ categoryName }}</li>

    <li>
      <b>Menus</b>:
      <ul>
        {% for menu in restaurant.menus %}
          <li>
            <i><b>{{ menu.id }}</b></i>
            <ul>
              {% for key, value in menu %}
                <li><b>{{ key }}</b>: {{ value }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  {# FIXME: Do not hardcode the url #}
  <a href="https://ruokalistatkoulutjapaivakodit.arkea.fi/#/{{ restaurant.id }}">Show original</a>
{% endblock %}

{% block javascripts %}
  {# <script>
    const restaurantData = {{ restaurantJson }};
    const categoriesData = {{ categoriesJson }};
  </script> #}

  <script src="/js/menuRender.js"></script>

  {% for menu in restaurant.menus %}
    <script src="{{ getenv("API_BACKEND") }}/menus/{{ menu.id }}?callback=menuRender"></script>
  {% endfor %}
{% endblock %}