{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>{{ restaurant.name }}</h1>


  <h3>Raw data</h3>
  <ul>
    {% for key, value in restaurant if key != "menus" %}
      <li><b>{{ key }}</b>: {{ value }}</li>
    {% endfor %}
    <li><b>Category name</b>: {{ categoryName }}</li>

    <li>
      <b>Menus</b>:
      <ul>
        {% for menu in restaurant.menus %}
          <li>
            <i><b>{{ menu.id }}</b></i>
            <ul>
              {% for key, value in menu %}
                <li><b>{{ key }}</b>: {{ value }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  {# FIXME: Do not hardcode the url #}
  <a href="https://ruokalistatkoulutjapaivakodit.arkea.fi/#/{{ restaurant.id }}">Show original</a>
{% endblock %}

{% block javascripts %}
  <script>
    const restaurantData = {{ restaurantJson }};
    const categoriesData = {{ categoriesJson }};
  </script>
{% endblock %}