{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>{{ restaurant.name }}</h1>


  <h3>Raw data</h3>
  <ul>
    {% for key, value in restaurant %}
      <li><b>{{ key }}</b>: {{ value }}</li>
    {% endfor %}
    <li><b>Category name</b>: {{ categoryName }}</li>
  </ul>
{% endblock %}

{% block javascripts %}
  <script>
    const restaurantData = {{ restaurantJson }};
    const categoriesData = {{ categoriesJson }};
  </script>
{% endblock %}