{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>{{ restaurant.name }}</h1>

  <div id="menuContainer">
    <ul class="nav nav-tabs">
      {# <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
      </li> #}
      {% for menu in menus %}
        <li class="nav-item">
          {# TODO: menu.selectedTab == "true" #}
          <a class="nav-link {% if loop.first %}active show{% endif %}" data-toggle="tab" href="#{{ menu.id }}">{{ menu.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div id="tabPaneContainer" class="tab-content">
      {# <div class="tab-pane fade show active" id="home">
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </div> #}
    </div>
  </div>

  {# <h3>Raw data</h3>
  <ul>
    {% for key, value in restaurant if key != "menus" %}
      <li><b>{{ key }}</b>: {{ value }}</li>
    {% endfor %}
    <li><b>Category name</b>: {{ categoryName }}</li>

    <li>
      <b>Menus</b>:
      <ul>
        {% for menu in restaurant.menus %}
          <li>
            <i><b>{{ menu.id }}</b></i>
            <ul>
              {% for key, value in menu %}
                <li><b>{{ key }}</b>: {{ value }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul> #}
  {# FIXME: Do not hardcode the url #}
  <a href="https://ruokalistatkoulutjapaivakodit.arkea.fi/#/{{ restaurant.id }}">Show original</a>

  <script src="{{ getStaticUrl() }}/js/menuRender.js?v={{ getAssetVersion() }}"></script>

  {% for menu in restaurant.menus %}
    <script src="{{ getenv("API_BACKEND") }}/menus/{{ menu.id }}?callback=menuRender"></script>
  {% endfor %}
{% endblock %}

{% block javascripts %}
  {# <script nonce="{{ getScriptNonce() }}">
    const restaurantData = {{ restaurantJson }};
    const menusData = {{ menusJson }};
    
    const categoriesData = {{ categoriesJson }};
  </script> #}
{% endblock %}
